.xdebug-var-dump {
    position: absolute;
    z-index: 99999999;
    background: #dddddd;
}
html,
body {
    height: 100%;

}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 90px 15px 20px;
}

.footer {
    font-family: 'Play', sans-serif;
    font-size: 12px;
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
.footer p {
    margin-bottom: 5px;
}

.not-set {
    color: #c55;
    font-style: italic;
}


.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar-top {
    height: 75px;
    background: #f2f2f2;

}

.navbar-brand {
    max-height: 70px;
    padding-top: 5px;
    padding-bottom: 0;

}
.navbar-nav > li > a {
    font-family: 'Play', sans-serif;
    font-size: 15px;
    padding-top: 26px;
    padding-bottom: 28px;
    padding-left: 10px;
    padding-right: 10px;
    color: #4d4d4d;
}
@media screen and (max-device-width: 1200px) {
    .img-brand {
        width: 130px;
        height: auto;
    }
    .navbar-nav > li > a {
        font-size: 12px;
    }
}

@media screen and (max-device-width: 1000px) {
    .navbar-nav > li > a {
        font-size: 10px;
    }
    .navbar-brand {
        height: 50px;
    }
    .img-brand {
        width: 130px;
        height: auto;
    }
}
@media screen and (max-device-width: 768px) {
    .navbar-nav > li > a {
        font-size: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

}
.navbar-top .navbar-collapse  {
    background-color: #f2f2f2;
}
.navbar-top .navbar-toggle {
    border-color: #89e787;
}
.navbar-top .navbar-toggle .icon-bar {
    background-color: #89e787;
}
.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
    background-color: #b4b4b4;
    text-decoration: underline;
}

.navbar-nav > li > a.nav-premises:focus,
.navbar-nav > li > a.nav-premises:hover {
    background-color: #fffda7;
}

.navbar-nav > li > a.nav-auto:focus,
.navbar-nav > li > a.nav-auto:hover {
    background-color: #ffbe93;
}

.navbar-nav > li > a.nav-service:focus,
.navbar-nav > li > a.nav-service:hover {
    background-color: #da86f4;
}

.navbar-nav > li > a.nav-jobs:focus,
.navbar-nav > li > a.nav-jobs:hover {
    background-color: #89e787;
}

.navbar-nav > li > a.nav-elect:focus,
.navbar-nav > li > a.nav-elect:hover {
    background-color: #a4d5ff;
}

.navbar-nav > li > a.nav-stuff:focus,
.navbar-nav > li > a.nav-stuff:hover {
    background-color: #B8DA2D;
}

.navbar-nav > li > a.nav-add {
    color: #e7194d;
}
.navbar-nav > li > a.nav-add:focus,
.navbar-nav > li > a.nav-add:hover {
    color: #ffffff;
    background-color: #e77173;
}
/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


.main-pin-text {
    font-family: 'Play', sans-serif;
    font-size: 24px;
    color: #4d4d4d;
    margin-top: 2px;
}
.main-pin-list {
    font-family: 'Play', sans-serif;
    font-size: 16px;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    word-break: keep-all;
}

/* Upload images */
.kv-file-upload {
    display: none;
}
.file-upload-indicator
{
    display: none;
}

.img-upload
{
    height: 200px;
    width: 200px;
}

.img-upload-field
{
    width: 250px;
}
/* Search */
.field-search-name {
    display: inline;
    width: 100%;
}

.main-search .main-search-input {
    width: 100%;
}
.opt {
     text-transform: uppercase;
     color: #333;
     background: #CCC;
 }
.field-search-price_min input.form-control, .field-search-price_max input.form-control
{
    width: 90px;
}
.site-index {
    padding-top: 20px;
}

/* Upload button */

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* ----- Promo ------ */
@media screen and (max-device-width: 1000px) {
    .promo-horizontal-900 {
        display: none;
    }
}

.list-image
{
    cursor: pointer;
}
.scroll-img-list
{
    height: 500px;
    overflow: auto;
}